<agm-map [latitude]="lat" [longitude]="lng">
	<agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
</agm-map>
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h2>Lugares Cercanos</h2>
			<a routerLink="/create/new" href="" class="btn btn-primary">Crear establecimiento</a>
			<ul class="list-group">
				<ng-container *ngFor="let place of places">
          <li class="list-group-item">
            <h3><a routerLink="/create/{{place.id}}">{{place.name | uppercase}}</a></h3>
            <br />
						<small>Creado: {{place.id | date:'short' | uppercase}}</small>
						<p [innerHtml]="place.description"></p>
          </li>
				</ng-container>
			</ul>
		</div>
		<div class="col-md-4">
			<h2>Destacados</h2>
		</div>
	</div>
</div>
