<ol class="breadcrumb">
  <li><a routerLink="/places">Lugares </a> / Crear</li>
</ol>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control">
  <br>
  <label>Distancia</label>
  <input type="number" class="form-control">
  <br>
  <label>Cercania</label>
  <input type="number" class="form-control">
  <br>
  <label>Descripción</label>
  <textarea class="form-control" cols="10" rows="10"></textarea>
  <br>
  <label>Plan</label>
  <input type="text" class="form-control">
  <hr>
  <a href="" class="btn btn-primary">Enviar</a>
  <a href="" class="btn btn-default" routerLink="/">Cancelar</a>
</div>