<ol class="breadcrumb">
  <li><a routerLink="/places">Lugares </a> / Crear</li>
</ol>
<div class="container">
  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="place.name">
  <br>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="place.distance">
  <br>
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="place.closeness">
  <br>
  <label>Descripción</label>
  <textarea class="form-control" cols="10" rows="3" [(ngModel)]="place.description"></textarea>
  <br>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="place.plain">
  <h3>Dirección</h3>
  <label>Calle y Numero</label>
  <input type="text" class="form-control" [(ngModel)]="place.street">
  <br>
  <label>Ciudad</label>
  <input type="text" class="form-control" [(ngModel)]="place.city">
  <br>
  <label>Pais</label>
  <input type="text" class="form-control" [(ngModel)]="place.country">
  <hr>
  <a class="btn btn-primary" (click)="savePlace()">Enviar</a>
  <a class="btn btn-default" routerLink="/">Cancelar</a>
</div>