<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
<hr>
<ul>
  <ng-container *ngFor="let place of places">
    <li *ngIf="place.active">{{place.name}}</li>
  </ng-container>
</ul>
<ul>
  <ng-container *ngFor="let place of places; let i = index" [ngSwitch]="place.closeness">
    <a count-clicks>
      <li [ngStyle]="{color: (place.active) ? 'black' : 'red'}"
          [ngClass]="{pair: (i+1) % 2 !== 0}" [resaltar]="place.plain">{{place.name}} -
          <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">My Cercano</span>
          <span *ngSwitchCase="2" [ngStyle]="{color: 'black'}">Cercano</span>
          <span *ngSwitchCase="3" [ngStyle]="{color: 'brown'}">Lejano</span>
      </li>
    </a>
  </ng-container>
</ul>